html, body {
    margin: 0;
    height: 100vh;
}

@font-face {
	font-family: 'Mourier';
	src: url('font/Mourier-Regular.woff') format('woff'),
		url('font/Mourier-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
}

@font-face {
	font-family: 'FT88';
	src: url('font/FT88-Gothique.woff') format('woff'),
		url('font/FT88-Gothique.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
}

@font-face {
	font-family: 'Cantique';
	src: url('font/Cantique-Normal.woff') format('woff'),
		url('font/Cantique-Normal.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
}

@font-face {
	font-family: 'BilbolNC';
	src: url('font/BilboINC-Regular_web.woff') format('woff'),
		url('font/BilboINC-Regular_web.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
}

.navBar {
	position: fixed;
	width: 100%;
	align-items: center;
	background-color: rgba(0, 0, 0, 0);
	height: 48px;
}
.navBar a:hover {
	
}

.latestRelease {
	display: grid;
	vertical-align: middle;
	top: 50%;
	transform: translateY(15%);
}

.center-fit {
	max-width: 100vw;
	max-height: 67vh;
/*	min-height: 256px; */
	margin: auto;
/*	width: inherit; */
	}

.iconList {
   	padding-left: calc(50% - 33.5vh);
/* 	width: 67vh; */
   	max-width: 100vh;
   	height: calc(67vh / 5);
}

.ico {
   	width: calc(67vh / 5);
   	filter: invert(1);
}

.ico:hover {
	filter: invert(88%) sepia(43%) saturate(2454%) hue-rotate(230deg) brightness(105%) contrast(102%);
}

#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.95);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}

.burger {
	filter: invert(100%) hue-rotate(93deg) brightness(103%) contrast(103%);
	width: 32px;
	padding-left: 16px;
	padding-top: 16px;
}

.x {
	filter: invert(100%) hue-rotate(93deg) brightness(103%) contrast(103%);
	width: 32px;
	padding-left: 16px;
	padding-top: 16px;
}

.burger:hover {
	filter: invert(88%) sepia(43%) saturate(2454%) hue-rotate(230deg) brightness(105%) contrast(102%);
}

.navMenu {
/*	margin-left: calc(50% - 160px); */
	text-align: center;
	text-decoration: none;
/*	font-family: Cantique; */
	color: #fff;
/*	width: 320px; */
}

.menuItem {
	font-size: 32px;
	padding-top: 32px;
	padding-bottom: 32px;
}
/*
.menuItem:hover {
	color: #faf;
}
*/
.socialIcon {
	filter: invert(97%) sepia(52%) saturate(5183%) hue-rotate(248deg) brightness(104%) contrast(103%);
	width: 64px;
}

.socialIcon:hover {
	filter: invert(1);
}

.electrolyte {
	filter: invert(100%);	
	align-self: center;
	margin: 0;
	margin-top: 30vh;
	text-align: center;
	font-family: BilbolNC;
	font-size: 10vw;
	line-height: 0;
	letter-spacing: 0.1em;
	font-weight: 300;
	font-style: normal;
}

.listen {
	color: #fff;
	font-size: 5vw;
	align-self: center;
	margin: 0;
	text-align: center;
	margin-top: 10vh;
	filter: invert(97%) sepia(52%) saturate(51%) hue-rotate(248deg) brightness(104%) contrast(103%);
}


